.header {
    margin: 0 auto;
    max-width: 900%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
color: white;
    }
    
    .header-logo {
    width: 25%;
    height: 20%;
    margin: 0 auto;
    margin-top: 34px;
    margin-bottom: 0;
    }
    
    @media screen and (max-width: 768px) {
        .header {
            width: 90%;
            margin-bottom: 50px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            }
            .header-logo {
            width: 35%;
            height: 8%;
            }
    }
    @media screen and (max-width: 400px) {
        .header {
        max-width: 80%;
        min-width: 80%;
        margin: 0 auto;
        margin-bottom: 50px;
        display: flex;
        flex-wrap: wrap;
       padding-top: 0;
        }
        .header-logo {
        max-width: 80%;
        min-width: 80%;
        height: 7%;
        }
    } 
    
