.places__city-content {
    max-width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    position: relative;
    }
    
    .places__city-title {
    max-width: 360px;
    margin-top: 0;
    font-family: 'Inter', "sans-serif";
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: white;
    }
    
    .places__city-website {
    max-width: 90%;
    margin-top: 100px;
    margin-left: 40px;
    color: #AAAAAA;
    display: flex;
    flex-direction: column;
    }
    
    .places__city-artist {
        max-width: 90%;
        margin-top: 0;
        margin-bottom: 8px;
        font-family: 'Inter', "sans-serif";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.12em;
        text-transform: uppercase;
    }
    
    .places__city-author {
    max-width: 100%;
    margin-top: 0;
    font-family: 'Inter', "sans-serif";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-transform: none;
    }
    
    .places__city-image {
        max-width: 460px;
        height: 460px;
        margin-bottom: 48px;
        background-color: #C4C4C4;
        display: flex;
        align-items: center;
        }

        .places__image-paragraph {
            max-width: 319px;
            height: 29px;
            margin: 0 auto;
            font-family: 'Inter', "sans-serif";
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 163%;
            color: #000000;
            }
    
    .places__city-paragraph {
    max-width: 100%;
    margin-left: 43px;
    font-family: 'Inter', "sans-serif";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
    }
    
    .places__city-button {
        gap: 10px;
       max-width: 355px;
       height: 48px;
        background-color: #0278FE;
        border-style: none;
        border-radius: 4px;
       margin-bottom: 20px;
       display: flex;
       align-items: center;
       justify-content: center;
    }
    
    .places__city-button:hover {
    background-color:  #0063D2;
    }
    
    .places__button-text {
        max-width: 315px;
        margin: 0 auto;
        text-align: center;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
        text-decoration: none;
    }
    
    @media screen and (max-width: 768px) {
        .places__city-content {  
         max-width: 100%;
        margin: 0 auto;
        margin-bottom: 20px;
        }
    
    
        .places__city-title{
        max-width: 85%;
        font-weight: 900;
        font-size: 42px;
        line-height: 46px;
        }
    
        .places__city-website {
        max-width: 100%;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 40px;
        }
    
        .places__city-artist {
        max-width: 100%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
         font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        }
        
        .places__city-author {
        max-width: 100%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        }
    
        .places__city-image {
        max-width: 340px;
        height: 340px;
        }

        .places__image-paragraph {
            max-width: 319px;
            height: 29px;
            margin: 0 auto;
            font-family: 'Inter', "sans-serif";
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 163%;
            color: #000000;
            }
    
        .places__city-paragraph{
        max-width: 100%;
        font-size: 16px;
        line-height: 163%;
        }
    
        .places__city-button {
        max-width: 355px;
        height: 48px;
        }
    }
    
           @media screen and (max-width: 320px) {
            .places__city-content {  
                max-width: 100%;
                margin-bottom: 20px;
                margin-left: 0;
                display: grid;
                grid-template:
                            "places__city-title"
                             "places__city-author"
                             "places__city-artist"
                             "places__city-image"
                             "places__city-paragraph"
                             "places__city-button";
               }
           
               
               .places__city-title{
                max-width: 100%;
                margin-left: 0;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 900;
                font-size: 32px;
                line-height: 35px;
                text-align: left;
               }
           
               .places__city-website {
                max-width: 100%;
                margin: 0 auto;
                margin-left: 8px;
               }
        
               .places__city-artist {
                max-width: 100%;
                font-weight: 400;
                font-size: 12px;
                line-height: 15px;
                }
    
                .places__city-author {
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
                }
            
           
               .places__city-image {
                max-width: 320px;
                min-width: 320px;
                height: 320px;
               }

               .places__image-paragraph {
                max-width: 100%;
                height: 29px;
                margin-left: 0;
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
                text-align: center;
                }
           
               .places__city-paragraph{
                max-width: 100%;
                font-weight: 400;
                font-size: 16px;
                line-height: 163%;
                margin: 0 auto;
                margin-left: 8px;
               }
        
               .places__city-button {
                max-width: 288px;
                height: 48px;
                margin-top: 8px;
                margin: 0 auto;
                display: flex;
                align-items: center;
                justify-content: center;
                }
               
                .places__button-text {
                    max-width: 100%;
                    min-width: 100%;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 17px; 
               }
        }