.footer {
max-width: 191px;
margin: 0 auto;
margin-top: 92px;
margin-bottom: 24px;
flex-wrap: wrap;
}

.footer-content {
max-width: 191px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
color: #FFFFFF;
margin-bottom: 24px;
}

@media screen and (max-width: 768px) {
    .footer {
    min-width: 50%;
    max-width: 50%;
    margin-top: 64px;
    }
    
    .footer-content {
        min-width: 100%;
        max-width: 100%;
        font-size: 3vw;
        margin-bottom: 20px;
        text-align: center;
    }
}

@media screen and (max-width: 320px) {
    .footer {
    min-width: 100%;
    max-width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
    }
    
    .footer-content {
        min-width: 100%;
        max-width: 100%;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        margin-bottom: 20px;
        margin: 0 auto;
    }
}